{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react"
      ],
    "env": {
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": [0],
        "arrow-parens": [2, "as-needed"],
        "comma-dangle": ["error", "never"],
        "import/prefer-default-export": [0],
        "no-use-before-define": [0],
        "react/forbid-prop-types": [1],
        "import/export": [1],
        "camelcase": [0],
        "object-curly-newline": [0],
        "max-len": ["error", { "code": 150 }]
    }
}